:root{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    --bgStyle: linear-gradient(#2C3333,#0E8388,#CBE4DE);
}

body{
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
    background-color: #F3F3F3;
    background-image: url("https://www.transparenttextures.com/patterns/grid-me.png");
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.side{
    width: 40%;
    height: 100%;
    padding: 15px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 0px;
    align-items: center;
    background: var(--bgStyle);
    background-size: 180% 180%;
    animation: gradience 7s ease infinite;
}

@keyframes gradience {
    0%{
        background-position: 50% 0%;
    }

    50%{
        background-position: 50% 100%;
    }

    100%{
        background-position: 50% 0%;
    }
}

.logo{
    width:100%;
    display: flex;
    background-color: #2c33336c;
    justify-content: right;
}

.logo img{
    width: 100px;
    padding: 0 10px;
}

.hero{
    font-weight: 500;
    font-style: normal;
    font-size: 75px;
    color: azure;
    letter-spacing: -0.25rem;
    line-height: 100%;
    
    padding: 5px ;
}

.hero p{
    margin: 0;
    padding: 0;
}

.content{
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.block1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.headingTxt{
    padding: 15px 15px 40px;
    margin: 0;
}

#now{
    margin: 0;
    font-size: 45px;
    font-weight: 600;
}

#now span{
    
    background: var(--bgStyle);
    color: transparent;
    background-size: 180% 180%;
    background-clip: text;
    animation: gradience 7s ease infinite;
}

#join{
    margin: 0;
    padding-left: 6px;
    font-size: 24px;
}

.block2{
    width: 100%;
    padding: 30px 0;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    background-color: #DBDBDB;
    box-shadow: 4px 1px 6px rgb(74, 75, 78);
}

.block3{
    width: 100%;
    padding: 30px 0;
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.createbtn{
    padding: 10px 30px 0px;;
}

.createbtn button{
    background-color: white;
    border: 3px solid black;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    font-size: 15px;
    font-weight: 600;
    color: black;
    cursor: pointer;
    box-shadow: 2px 2px 5px #9aa6a6;
}

.createbtn button:hover{
    border-color: #0E8388;
    color: #0E8388;
}

.createbtn button:active{
    background-color: #0E8388;
    color: azure;
}

.loginTxt{
    padding: 0px 33px;
    font-size: 14px;
}

.loginTxt span{
    color: #0E8388;
}

.entry1,.entry2,.entry3{
    display: flex;
    gap: 85px;
    justify-content: left;
    padding: 0 30px;
}

.entry3{
    gap: 53px;
}

.entry{
    display: flex;
    flex-direction: column;
}

.validation{
    display: flex;
    gap: 8px;
}

.entry label{
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    padding: 1px 3px;
    letter-spacing: 0.15rem;
}

input{
    height: 22px;
    width: 260px;
}

input + span{
    position: relative;
}

input + span::before{
    position: absolute;
}

input:invalid{
    border: 3px solid ;
    border-color: rgb(174, 1, 1);
}

input:valid{
    border-color: green;
}

input[type=text]:valid + span::before, input[type=email]:valid + span::before,input[inputmode=numeric]:valid + span::before,
input[id=pass2]:valid + span::before {
    content:"✓";
    color: green;
}

input{
    border-radius: 5px;
    outline: none;
}

input:focus-visible{
    outline: none;
    box-shadow: 1px 2px 4px rgb(74, 75, 78);
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button{
    -webkit-appearance: none;
    -moz-appearance: none;
    margin: 0;
}

.tooltip{
    background-color: #2c33337c;
    color: white;
    padding: 5px 12px;
    cursor:help;
    border-radius: 100%;
}

.tooltip::before,.tooltip::after{
    position: absolute;
    left: 50%;
    opacity: 0;
    transition: ease 0.5s;
}

.tooltip::before{
    content: "";
    border-width: 17px 14px 0 14px;
    border-style: solid;
    border-color: #2c3333c9 transparent transparent transparent;
    transform: translate(-14px,-22.5px);
}

.tooltip::after{
    content:attr(data-tooltip);
    border-width: solid 10px #2c33337c;
    background-color: #2c3333c9;
    font-size: 14px;
    width: 225px;
    border-radius: 5px;
    transform: translate(-112.5px,-85px);
    padding: 6px;
}

.tooltip:hover::before,.tooltip:hover::after{
    opacity: 1;
}